{% extends 'base.html.twig' %}

{% block title %}Erreur sur votre commande - Mighty
Mama Créa'{% endblock %}

{% block content %}
<h1>Une erreur est survenue avec le paiement</h1>
<p>Bonjour <strong>{{order.user.firstname}} {{order.user.lastname}}</strong> , <br>
   Il semblerait que votre paiement pour votre commande <strong> n°{{order.reference}} </strong> ait echoué <br>
    Une confirmation de l'annulation vient de vous être envoyée par l'email à l'adresse <strong>{{order.user.email}}</strong>,
    <hr>

    <a class="btn btn-gold" href="/commande">Réessayer le paiement</a>
</p>

{% endblock %}
