body{
  position: relative;
}

.navbar-item-custom a {
  color: #b58e4a;
}

.logo {
  height: 50px;
  width: auto;
}

.bg-black {
  background-color: black;
}

.navbar-dark {
  color: #b58e4a !important;
}

.gold {
  color: #b58e4a !important;
  border-color: #b58e4a;
}

.footer-custom {
  text-align: center;
  position: absolute;
  bottom: -1;
  width: 100%;
  background-color: black;
  padding-top: 10px;
  color: #b58e4a !important;
  margin-top: 100px;
}

.footer-custom p {
  margin: 0;
  padding: 0;
}

.product-item {
  margin-top: 50px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 14px;
  font-weight: bold;
}

.product-container {
  margin-bottom: 130px;
}

.product-single-price{
  font-size: 19px;
}

.btn-gold{
  border: #b58e4a;
  border: solid;
  color: #b58e4a;
  border-width: 2px
}

.btn-gold:hover{
background-color: #b58e4a;
color: white;
}

.cart-icon{
  height: 21px;
  padding-left: 20px;
}

.block-small{
  max-width: 600px;
  margin: 0 auto;
}

.form-check{
  background-color: #f4f8ff;
  padding: 20px 65px;
  margin-top: 6px;
}

.col-form-label{
  font-weight: bold;
}

.order-summary{
  background-color: #f4f8ff;
  padding: 20px;
  margin-top: 22px;
}