{% extends 'base.html.twig' %}

{% block title %}Ma commande - Mighty Mama Créa'{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>
<p>Choisissez vos préférences avant de passer commande</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <p><b>Choisir mon adresse de livraison</b></p>
        <p><b>Choisir mon transporteur</b></p>
    </div>
    <div class="col-md-6">
        <p><b>Récapitulatif de ma commande</b></p>
        <button>oui</button>
    </div>
</div>
{% endblock %}
